{% extends('base.html.twig') %}

{% block body %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welkom op de startpagina</h1>
            <p class="col-md-8 fs-4">Dit is de startpagina van De Lekke Ketel</p>
        </div>
    </div>
{% endblock %}
