{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Registreren</h1>

    {{ form(form) }}
{% endblock %}
